<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Oxygen:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/remark.css">
    <script src="https://gnab.github.io/remark/downloads/remark-latest.min.js"></script>
  </head>
  <body>
    <textarea id="source">
<%= yield %>
    </textarea>
    <script>
    var slideshow = remark.create({
      countIncrementalSlides: false,
      highlightStyle: 'sunburst',
      highlightLines: true,
      highlightSpans: true,
      navigation: {
        scroll: false
      }
    });
    </script>
  </body>
</html>

